
.approach{
    background-color: #1a1a1a;
    width: 100%;
    padding-block: 6rem;
    border: 1px;
    position: relative;
}

.approach_title{
    width: 80%;
    margin: 0 auto;
    padding: 0 0 6rem 0;
    text-align: center;
}

.approach_title h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.approach_tabs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.approach_tabs_btn{
    width: 700px;
    background-color: #333333;
    padding: .5rem 0.5rem;
    border-radius: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.3rem;
    border: 1px solid var(--icons-color);
}

.approach_tabs_btn button{
    width: 120px;
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    padding: 1rem;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    transition: all .3s ease-in;
}

.approach_tabs_btn button:hover{
    background-color: azure;
    color: black;
}

.approach_box{
    width: 100%;
    gap: 2rem;
}
.approach_member{
    width: 80%;
    margin: 0 auto;
}
.approach_title_span{
    color: var(--icons-color);
}
.approach_title_span_hightlight{
    color: var(--icons-color);
}
.approach_Route{
    display: flex;
    justify-content: center;
}