.service{
    background: #1a1a1a;
    width: 100%;
}
.service_box{
    margin: 3rem auto;
    margin-block: 8rem;
    padding-bottom: 50px;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    display: grid;
    gap: 3rem;
    text-align: center;
}
.service_box_item{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_box_item p{
    color: #bfbfbf;
}
.service_box_item_img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.service_box_text_center{
    padding-top: 40px;
    text-align: center;
}
.service_box_text_center_small{
    letter-spacing: 3px;
    color: var(--icons-color);
    font-size: 18px;
}
.service_box_text_center_large{
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}
.service_box_text_center_large_hightlight{
    color: var(--icons-color);
}

@media screen and (max-width: 35em) {
    .service{
        width: 90%;
    }
}

@media screen and (max-width: 50em) {
    .service_box{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
}